In [1]:
%load_ext autoreload
%autoreload 2
from app.config_loader import load_config_once
conf = load_config_once(output_folder="SIDKIM")
import pdfplumber, camelot, pprint, json5,json, os, re
import fitz #type: ignore
import pandas as pd
import numpy as np

from app.fund_sid_data import *

with open("config\\sid_params.json5","r+") as file:
    params = json5.load(file)

# with open("config\\sid_params.json5","r+") as file:
#     params = json5.dump(params,file)

Loaded config with output_folder = SIDKIM

In [142]:
path = os.path.join(os.getcwd(),"pdfs","May KIM\\Baroda BNP Paribas Mutual Fund\\2_17092_May-2025_1746766023_KIM.pdf")
table_data = camelot.read_pdf(path,pages="2")
dfs = pd.concat([table.df for table in table_data], ignore_index=True)
dfs = dfs.replace(r"\n","",regex=True).replace(r'^\s*$', pd.NA, regex=True).dropna(axis=1, how='all')

In [106]:
path = os.path.join(os.getcwd(),"pdfs","May KIM\\DSP Mutual Fund\\8_17161_May-2025_1748246485_KIM.pdf")
table_data = camelot.read_pdf(path,pages="4")
dfs = pd.concat([table.df for table in table_data], ignore_index=True)
dfs = dfs.replace(r"\n","",regex=True).replace(r'^\s*$', pd.NA, regex=True).dropna(axis=1, how='all')

In [125]:
path = os.path.join(os.getcwd(),"pdfs","May KIM\\Motilal Oswal Mutual Fund\\28_17087_May-2025_1746677578_KIM.pdf")
table_data = camelot.read_pdf(path,pages="3")
dfs = pd.concat([table.df for table in table_data], ignore_index=True)
dfs = dfs.replace(r"\n","",regex=True).replace(r'^\s*$', pd.NA, regex=True).dropna(axis=1, how='all')

In [ ]:
path = os.path.join(os.getcwd(),"pdfs","May KIM\\DSP Mutual Fund\\8_17161_May-2025_1748246485_KIM.pdf")
table_data = camelot.read_pdf(path,pages="4",flavor="lattice")
dfs = pd.concat([table.df for table in table_data], ignore_index=True)
dfs = dfs.replace(r"\n","",regex=True).replace(r'^\s*$', pd.NA, regex=True).dropna(axis=1, how='all')

In [2]:
path = os.path.join(os.getcwd(),"pdfs","May KIM\\Nippon India Mutual Fund\\33_17143_May-2025_1747631729_KIM.pdf")
path = os.path.join(os.getcwd(),"pdfs","May KIM\\Nippon India Mutual Fund\\33_17145_May-2025_1747631789_KIM.pdf")
table_data = camelot.read_pdf(path,pages="2",flavor="lattice",)
dfs = pd.concat([table.df for table in table_data], ignore_index=True)
dfs = dfs.replace(r"\n","",regex=True).replace(r'^\s*$', pd.NA, regex=True).dropna(axis=1, how='all')

In [3]:
dfs.head(10)

,0,1,2,3,4,5,6,7
0,Investment Objective,The investment objective of the scheme is to p...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,Asset Allocation Pattern of the Scheme,"Under normal circumstances, the anticipated as...",<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,<NA>,<NA>,Instruments,<NA>,<NA>,Indicative asset allocation (% of total assets),<NA>,Risk Profile
3,<NA>,<NA>,<NA>,<NA>,<NA>,MinimumMaximum,<NA>,<NA>
4,<NA>,<NA>,Securities constituting BSE Sensex Next 30,<NA>,<NA>,95 100,<NA>,Very High
5,<NA>,<NA>,Cash & cash equivalents and Money Market instr...,<NA>,<NA>,05,<NA>,Low to Moderate
6,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
7,<NA>,<NA>,Sl. No,Type of Instrument,Percent-age of exposure,<NA>,Circular references,<NA>
8,<NA>,<NA>,1.,Securities Lending,0-15%,<NA>,"SEBI (Mutual Funds) Regulations, 1996, Securit...",<NA>
9,<NA>,<NA>,2.,Equity Derivatives for non-hedging purposes,0-20%,<NA>,Clause 12.25 of SEBI Master Circular dated Jun...,<NA>

In [ ]:
path = os.path.join(os.getcwd(),"pdfs","May KIM\\Samco Mutual Fund\\58_17167_May-2025_1748246725_KIM.pdf")
table_data = camelot.read_pdf(path,pages="2", flavor="lattice")
dfs = pd.concat([table.df for table in table_data], ignore_index=True)
dfs = dfs.replace(r"\n","",regex=True).replace(r'^\s*$', pd.NA, regex=True).dropna(axis=1, how='all')

In [ ]:
path = os.path.join(os.getcwd(),"pdfs","May KIM\\SBI Mutual Fund\\35_17127_May-2025_1747282099_KIM.pdf")
table_data = camelot.read_pdf(path,pages="3",flavor="lattice")
dfs = pd.concat([table.df for table in table_data], ignore_index=True)
dfs = dfs.replace(r"\n","",regex=True).replace(r'^\s*$', pd.NA, regex=True).dropna(axis=1, how='all')

In [183]:
path = os.path.join(os.getcwd(),"pdfs","May KIM\\Tata Mutual Fund\\38_17083_May-2025_1746423609_KIM.pdf")
table_data = camelot.read_pdf(path,pages="2",flavor="lattice")
dfs = pd.concat([table.df for table in table_data], ignore_index=True)
dfs = dfs.replace(r"\n","",regex=True).replace(r'^\s*$', pd.NA, regex=True).dropna(axis=1, how='all')

In [189]:
path = os.path.join(os.getcwd(),"pdfs","May KIM\\Unifi Mutual Fund\\1747199797848.pdf")
table_data = camelot.read_pdf(path,pages="3",flavor="lattice")
dfs = pd.concat([table.df for table in table_data], ignore_index=True)
dfs = dfs.replace(r"\n","",regex=True).replace(r'^\s*$', pd.NA, regex=True).dropna(axis=1, how='all')

In [ ]:
def _normalize_alphanum(txt):
    if not isinstance(txt,str):
        return txt
    text = re.sub(r"[^A-Za-z0-9\%\s]+","",txt,re.IGNORECASE)
    text = re.sub(r"\s+"," ",text)
    return text.strip().lower()

def _is_percentage(val):
    return isinstance(val, str) and bool(re.match(r"\d{1,3}", val.strip()))

def _is_percentage(val):
    return isinstance(val, str) and bool(re.fullmatch(r"(\d+%?)+", val.strip()))


pattern = re.compile(r"^(minimum|maximum|minimummaximum)$", re.IGNORECASE)

for index, row in dfs.iterrows():
    values = [_normalize_alphanum(val) for val in row if isinstance(val, str)]
    matches = [val for val in values if re.match(pattern, val)]
    
    if len(matches) >= 1:  # both minimum and maximum-type matches present
        row_start = index
        print(row_start)
        break
    
row_end = row_start
for idx in range(row_start + 1, len(dfs)):
    row = list(dfs.iloc[idx])
    if any(_is_percentage(val) for val in row):
        row_end = idx
        # print(row_end)
    else:
        break

3

C:\Users\Kaustubh.keny\AppData\Local\Temp\ipykernel_22068\1236656423.py:4: DeprecationWarning: 'count' is passed as positional argument
  text = re.sub(r"[^A-Za-z0-9\%\s]+","",txt,re.IGNORECASE)

In [210]:
dfs.iloc[row_start:row_end+1,:].dropna(axis=1,how="all").head(10)

,2,5,7
3,<NA>,MinimumMaximum,<NA>
4,Securities constituting BSE Sensex Next 30 Index,95%100%,Very High
5,Cash & cash equivalents and Money Market instr...,0%5%,Low to Moderate